
.* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.main1 {
    background-repeat: no-repeat;
    background-size: cover;
    height:auto;
    background-position:center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0)0%, rgba(0, 0, 0, 0.06) 10%, rgba(0, 0, 0, 0.15) 22%,rgba(0, 0, 0, 0.72) 75%, rgba(0, 0, 0, 0.84) 89%, rgba(0, 0, 0, 0.91) 100%), url('images/banner3.jpg');
}

    .main1 nav {
        border-bottom: 1px solid rgba(255, 255, 255, .5);
        height:85px;
        
    }

    .main1 ul li a {
        align-content: center;
        display: flex;
        justify-content: center;
        color: #fff;
    }
.topheading {
    color: #fff;
    text-align: center;
    margin-top: 160px;
    font-size: 48px;
}

.btnViewPhoto {
    color: #00acc1;
    mar
    margin-bottom:10px;
}

ul li {
    list-style-type: none;
}

a {
    margin: 30px;
}

.btnLogin {
    background-color: transparent;
    color: #fff;
    border: 1px solid;
    border-radius: 1px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    float: right;
    margin: 40px;
}


.navhr {
    opacity: 0.6;
}



div button {
    margin: 10px;
}

div h2 {
    font-size: 36px;
    color: #00acc1;
}

div h4 {
    font-size: 25px;
    color: #e53b51;
}

.location {
    display: flex;
    text-align: center;
    justify-content: center;
}

    .location h2 {
        margin-right: 90px;
    }

.map {
    width: auto;
    height: 20px;
    margin: auto;
    margin-right: 3px;
}

.gmap {
    width: 100%
}

.plangap {
    display: flex;
}

    .plangap img {
        border: 1px solid;
    }

    .plangap h2 {
        margin: auto;
        margin-left: 1px;
    }

.main2 {
    display: flex;
}

    .main2 img {
        height: 20px;
    }

    .main2 h5 {
        margin-right: 40px;
        margin-top: 2px
    }

.navbrNav ul li {
    width: 20%;
}

.form1 {
    background-color: #00acc1;
    margin-top: 20px;
    color: #fff;
    padding-top: 10px;
}

    .form1 a {
        text-decoration: underline;
        color: #fff;
    }

    .form1 .bg-info {
        font-size: 18px;
        color: #fff;
        padding: 5px;
        border-radius: 3px;
        background-color: #31d2e0;
    }

.btnApplyNow {
    width: 100%;
    background-color: #e53b51;
}

.hline {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    opacity: 0.5;
    color: black;
}

.date {
    display: flex;
}

    .date img {
        background: none;
        width: 19px;
    }


.video1 {
    width: 100%;
}

.location1 {
    float: left;
    display: flex;
}

    .location1 img {
        margin: auto;
    }

.costDuration {
    border: 1px solid;
    height: 60px;
    display: flex;
    align-content: center;
    border-color: #ccc;
}

    .costDuration div {
        display: flex;
        margin: 15px;
    }

        .costDuration div h2 {
            margin-top: 3px;
            font-size: 24px;
            margin-left: 10px;
            margin-right: 25px;
        }

        .costDuration div h3 {
            margin-top: 3px;
            font-size: 24px;
            margin-left: 10px;
            margin-right: 25px;
        }


.btn {
    border: 1px solid;
}

.cost {
    border-left: 1px solid;
    border-color: #ccc;
}

.whatInclude {
    color: #000;
    border-right: 1px solid;
    border-color: #ccc;
}

    .whatInclude > h4 {
        background-color: #00acc1;
        padding: 10px;
    }

    .whatInclude img {
        height: 14px;
        width: 14px;
    }

.whatNotInclude {
    color: #000;
}

    .whatNotInclude > h4 {
        background-color: #e53b51;
        padding: 10px;
    }

    .whatNotInclude img {
        height: 14px;
        width: 14px;
    }

.ttable {
    width: 100%;
    text-align: center;
}

    .ttable b {
        color: #e53b51;
    }

    .ttable tr th {
        text-align: center;
        background-color: #00acc1;
        border-color: #fff;
        font-size: 21px;
        color: #fff;
        border: 1px solid;
        width: 25%;
        height: 35px;
    }

    .ttable tr td {
        color: #00acc1;
        font-size: 16px;
        border: 1px solid;
        border-color: #ccc;
        margin: 6px;
        height: 35px;
    }

.tablehr {
    border: 1px solid;
    border-color: #ccc;
}

.page-footer {
    background-color: #3d3d3d;
}

    .page-footer a {
        color: #fff;
        float: right;
        margin-top: 40px;
    }
